*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	width: 100%;
	background-color: cornsilk;
	color: #000;
}

.container {
	width: 80%;
	max-width: 1128px;
	font-size: 1.3rem;
	border: 1px solid red;
}

.row {
	display: flex;
	justify-content: space-between;
}

.col {
	width: 100%;
}

.col + .col {
	margin-left: 15px;
}
